
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw; 
  line-height: 150%;
}

body{
  display: flex;
  background: url(imagenes/BG.jpg) center/cover no-repeat;
}

header{
  display: flex;
  flex-direction: column;
  background-color: #041c35;
  height: 100vh;
}

.logo {
  max-width: 20vh; 
}

main{
  display: flex;
  flex: 1;
  margin-left: 10%;
}

.campo-cifrado {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.text-area {
  border: none;
  color: #fff;
  background-color: #041c35;
  border-radius: 1.5vw; 
  margin-top: 20%; 
  resize: none;
  margin-bottom: 2%;
}

::placeholder { color: #fff; }
.text-area:focus{
  outline: none;
}

p {
  color: #fff;
}

.btnDesencriptar {
  background-color: #D8DFE8;
  border: 1px solid #041c35;
  border-radius: 3vh;
  color: #041c35;
  cursor: pointer;
  height: 8vh; 
  width: 35vh; 
  margin-left: 5%; 
}

.btnEncriptar {
  background-color: #041c35;
  border: 1px solid #041c35;
  border-radius: 3vh;
  color: #fff;
  cursor: pointer;
  height: 8vh; 
  width: 35vh; 
}

.campo-descifrado{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultado {
  background: #fff;
  background-image: url(imagenes/1111.png);
  background-size: cover; 
  border: none;
  height: 90%;
  width: 40vh; 
  border-radius: 3vh;
  color: #041c35;
  border: 1px solid #041c35;
  resize: none;
}

.resultado:focus {
  outline: none;
}

.caja-botones {
  display: flex;
  margin-top: 2%;
}

.btnCopiar {
  background-color: #041c35;
  border: 1px solid #041c35;
  border-radius: 3vh;
  color: #fff;
  cursor: pointer;
  height: 6vh; 
  width: 40vh; 
  margin-top: 2%;
  display: none;
}

/* AQUÍ COMIENZA LAS MEDIAS QUERY */


@media (max-width: 1180px) {
.logo {
  max-width: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.text-area{
  margin-top: 5vh;
  height: 30vh;
  width: 70%;
  border-radius: 1.5vw;
}

p{
  margin-top: 2%;
}

.caja-botones {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  width: 60vw;
}

.resultado {
  width: 70%;
  height: 30vh;
  background-image: none;
  margin-top: -6vh;
  border-radius: 1.5vw;
}

.btnCopiar{
  width: 40vw;
}
}


@media (max-width: 872px) {
.logo {
  max-width: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.text-area {
  margin-top: 5vh;
  margin-bottom: -1vh;
  height: 30vh;
  width: 70%;
}

p{
  margin-top: 10%;
}

.resultado{
  border-radius: 1.5vw;
  height: 30vh;
  margin-top: -13vh;
  background-image: none;
  width: 70%;
}

.caja-botones {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 60vw;
}

.btnCopiar{
  margin-top: 1vh;
  width: 40vw;
}
}


@media (max-width: 430px) {
  
.logo {
  max-width: 4vh;
}

main{
  margin: 0;
}  

.text-area{
  margin-top: 5vh;
  width: 70vw;
}

p{
  margin-top: 3vh;
}

.resultado {
  width: 70vw;
  margin-top: -14vh;
}

.caja-botones {
  width: 70vw;
  margin-top: 2vh;
}

.btnCopiar{
  width: 70vw;
  margin-top: 2vh;
}
}

@media (max-width: 320px) {

main{
  margin: 0;
} 

p{
  margin-top: 2vh;
}
.caja-botones {
  margin-top: 3vh;
}
}
